<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
</head>
<body>
<h1>Lista de Eventos</h1>
    {% for event in event_list %}
        <div class="event-card">
            <a href="{% url 'site_anb:event_detail_path' event.id %}">{{ event.title }}</a>
                <form method="post" action="{% url 'site_anb:remove_event_path' event.id %}" style="display: inline;">
                    {{ event.date_time }}
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
        </div>
    {% endfor %}
<a href="{% url 'site_anb:new_event_path' %}">Crie Evento</a>
</body>
</html>